# Core Simulation Libraries
simpy                   # Discrete event simulation engine
pandas
numpy

# Order Book Engine
order-matching

# Visualization
matplotlib
seaborn

# Utilities
python-dateutil         # For handling dates and times in simulation

